@model IEnumerable<Session_vw>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mt-3 mb-3">
    <div class="card-header">
        <h3 class="text-center">Session List</h3>
        <hr />
    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-responsive">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.STARTDATE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ENDDATE)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.DESCRIPTION)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ISACTIVE)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Campdesc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Instdesc)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.STARTDATE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ENDDATE)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.DESCRIPTION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ISACTIVE)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Campdesc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Instdesc)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditSession", new { id = item.SessionID })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Create New", "CreateSession")
</p>