@model Institution

@{
    ViewBag.Title = "Edit";
}


<style>
    .hidden {
        display: none;
    }
</style>
@using (Html.BeginForm("EditInstitute", "Institute"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Instid)


        <div class="card mt-3 mb-3">
            <div class="card-header">
                <h3 class="text-center">Edit Institution</h3>
                <hr />
            </div>

            <div class="card-body row">
                <div class="form-group col-md-6 mb-3">
                    @Html.LabelFor(model => model.Instdesc, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Instdesc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Instdesc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6 mb-3">
                    @Html.LabelFor(model => model.Instshortdesc, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Instshortdesc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Instshortdesc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6 mb-3">
                    @Html.LabelFor(model => model.Countid, "Countid", htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-12">
                        @Html.DropDownList("Countid", null, "Please Country Name", htmlAttributes: new { @class = "form-control", @id = "country" })
                        @Html.ValidationMessageFor(model => model.Countid, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6 mb-3">
                    @Html.LabelFor(model => model.Stateid, "Stateid", htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-12">
                        @Html.DropDownList("Stateid", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Stateid, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6 mb-3">
                    @Html.LabelFor(model => model.Cityid, "Cityid", htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-12">
                        @Html.DropDownList("Cityid", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Cityid, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group col-md-6 mb-3 d-none">

                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Addedby, new { htmlAttributes = new { @class = "form-control hidden" } })
                        @Html.ValidationMessageFor(model => model.Addedby, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6 mb-3 d-none">

                    <div class="col-md-12">
                        @Html.EditorFor(model => model.AddedDate, new { htmlAttributes = new { @class = "form-control hidden" } })
                        @Html.ValidationMessageFor(model => model.AddedDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6 mb-3 d-none">

                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Updatedby, new { htmlAttributes = new { @class = "form-control hidden" } })
                        @Html.ValidationMessageFor(model => model.Updatedby, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6 mb-3 d-none">

                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Updatedt, new { htmlAttributes = new { @class = "form-control hidden" } })
                        @Html.ValidationMessageFor(model => model.Updatedt, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6 mt-4">
                    <div class=" col-md-12 d-flex justify-content-end">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>

        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "InstituteList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
